<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.risen.dao.CartItemMapper">

  <resultMap type="CartItem" id="cartItemResult">
    <id column="cartItemId" jdbcType="INTEGER" property="cartItemId"/>
    <result column="quantity" jdbcType="INTEGER" property="quantity"/>
    <association property="book" resultMap="com.risen.dao.BookMapper.bookResult"/>
  </resultMap>
  
  <sql id="leftJoinBook">
  	select c.cartItemId,c.quantity,
  	b.bid,b.bname,b.currPrice,b.image_b
  	from t_cartitem c left join t_book b on c.bid=b.bid
  </sql>
  
  
  <!-- 按照用户名查询用户的购物车所有条目 -->
  <select id="queryByUsername" parameterType="String" resultMap="cartItemResult">
  	<include refid="leftJoinBook"/>
  	where c.username=#{_parameter} order by c.cartItemId;
  	
  </select>
  
  <!-- 添加购物车条目 -->
  <insert id="addCartItem" parameterType="CartItem">
  	insert into t_cartItem(quantity,bid,username) values(#{quantity},#{book.bid},#{user.loginname});
  </insert>
 	
 	<!-- 按照bid和username查询 -->
 <select id="queryByBidAndUsername" parameterType="CartItem" resultMap="cartItemResult">
 		select cartItemId,quantity from t_cartItem where bid=#{book.bid} and username=#{user.loginname};
 </select>
 
 <!-- 更改条目的数量quantity -->
 <update id="updateQuantity" parameterType="CartItem">
 	update t_cartitem set quantity=#{quantity} where cartItemId=#{cartItemId};
 </update>
 	
 <!-- 根据id数组删除条目 -->	
 <delete id="deleteByCartItemIds" parameterType="int[]">
 	delete from t_cartitem where cartItemId in 
	<foreach collection="array" item="itemId" open="(" separator="," close=")">
		#{itemId}
	</foreach>
	;
 </delete>
 
 <!-- 按照id数组多条查询 -->
 <select id="queryByCartItemIds" parameterType="int[]" resultMap="cartItemResult">
 	<include refid="leftJoinBook"/>
 	where cartItemId in
 	<foreach collection="array" item="itemId" open="(" separator="," close=")">
 		#{itemId}
 	</foreach>
 	;
 </select>
</mapper>
