body {
	font-size: 10pt;
	color: #404040;
	background-color:#FFFFFF;
	text-align:center;
}

img:hover{
	border:1px solid #B0C2E1;
}

.orderMsgDiv {
	width: 880px;
	height: 60px;
	line-height:60px;
	color: #404040;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
}

.bankDiv {
	border: 2px solid #B0C2E1;
	width: 880px;
	height: 500px;
	background-color:#FFFFFF;
	margin-left:auto;
	margin-right:auto;
}

.chooseTextDiv {
	font-size: 15px;
	font-weight: 900;
	margin: 20px auto 20px 20px;
}

.payTextSpan {
	font-weight: 900;
	font-family: 黑体;
	margin-left: 30px;
}

.oidSpan {
	font-size: 13px;
	color: #878787;
	font-family: Arial;
	padding-top: 10px;
	margin-left: 30px;
}

.price_t {
	color: #c30;
	font-weight: bold;
	padding-right: 10px;
	font-family: Arial;
	font-size: 15pt;
}

#bankListDiv{
	margin-left:20px;
	
}

.bankItemDiv{
	width:205px;
	float:left;
	height:55px;
	line-height:55px;
}

 input[type=radio],img{
        vertical-align: middle;
}


.linkNext {
	background-color:#72B15D;
	display: inline-block;
	height: 40px;
	width: 190px;
	margin: 0;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	font-weight: 900;
	color: #ffffff;
	line-height: 40px;
	border-radius:7px;
}

.linkNext:hover {
	background-color:#639B4F;
	display: inline-block;
	height: 40px;
	width: 190px;
	poorfish: expression(this.onclick = function jiesuan(){return true});
}